@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}
.container {
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  margin: 4px;
}

#header .logo-container img {
  width: 200px;
  height: 100px;
}

#menu_container ul.menu {
  display: inline-flex;
  list-style-type: none;
  margin-right: 10px;
}

#menu_container ul.menu li.menu-item {
  padding: 12px;
  font-size: 21px;
}

#search_bar {
  padding: 10px 0px;
}

#search_bar input {
  height: 38px;
  width: 300px;
  margin-right: 2px;
}

#searchButton {
  padding: 9px 15px;
}

.filter-container {
  padding: 0px 5px;
}

/* card related css */
#restaurent_card_container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#restaurent_card_container > div.res-card {
  width: 250px;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 8px;
}

#restaurent_card_container > div.res-card img {
  width: 100%;
  height: 200px;
}

#footer {
  text-align: center;
  background-color: antiquewhite;
  padding: 10px;
}

button.login,
button.logout {
  padding: 5px;
  margin: 0px 5px;
}

input{
  border: 1px solid black;
  padding: 2px;
}
