.card{
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
    padding: 4px;
    margin-bottom: 4px;
}

.card-header .title{
    margin: 0px;
    padding: 2px;
}
.card-header .subtitle{
    margin: 0px;
    padding: 2px;
}

.card .card-body{
    padding: 3px;
}

.card .card-footer{
    background-color: aliceblue;
    padding: 2;
}